
body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}
/* less repetition, more modular */
/* broad and not specific */

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;

}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.3rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
}

/* Title section */


#title .container-fluid {
  /* for the container fluid inside the id title section */
  padding: 3% 15% 7%;
  text-align: left;

}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  /* positive value for clockwise rotation, negative for anti-clockwise */
  position: absolute;
  /* take out of flow, wont take up so much space */
  right: 30%;

}

/* Features */
#features {
  position: relative;
  /* cant use absolute, as will out of flow and then the testimonials will come up */
  /* positioned element so that can use z index */
  /* z-index: 1; */
  /* dont need this z index as both title image and features are positioned */
  /* and the features will stack above the image as it appears below the image in the html code */
  /* to cover the btm part of the title image */
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-box {
  /* padding: 5%; */
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
  /* this color will overwrite the one set in colored section */
  /* as this id style will overwrite class, it is more specific */
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  /* set paddings to the items only so that the buttons are at the sides and not within the items */
}

#press {
  background-color: #ef8172;
  /* will overwrite colored section as this is an id style (more specific) */
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
  /* top, lr, btm */
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA section */

.cta-heading {
  font-size: 3rem;
}
/* Footer section */

.footer-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
